<!DOCTYPE html>
<html lang="en">
<head>
	<title>Notas SIDING</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='form/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">

		<div class="wrap-contact100">
			<form action = "/result" method = "POST" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Notas de SIDING!
				</span>

				<div class="wrap-input100 validate-input" data-validate = "User UC">
					<input class="input100" type="e-mail" name="login" placeholder="User UC">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Password">
					<input class="input100" type="password" name="passwd" placeholder="Password">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Periodo">
					<select class="input100" name="periodo">
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2005&amp;acc_inicio=mis_cursos">
						1er semestre 2005
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2005&amp;acc_inicio=mis_cursos">
							2do semestre 2005
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2005&amp;acc_inicio=mis_cursos">
							TAV 2005
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2006&amp;acc_inicio=mis_cursos">
							1er semestre 2006
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2006&amp;acc_inicio=mis_cursos">
							2do semestre 2006
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2006&amp;acc_inicio=mis_cursos">
							TAV 2006
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2007&amp;acc_inicio=mis_cursos">
							1er semestre 2007
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2007&amp;acc_inicio=mis_cursos">
							2do semestre 2007
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2007&amp;acc_inicio=mis_cursos">
							TAV 2007
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2008&amp;acc_inicio=mis_cursos">
							1er semestre 2008
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2008&amp;acc_inicio=mis_cursos">
							2do semestre 2008
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2008&amp;acc_inicio=mis_cursos">
							TAV 2008
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2009&amp;acc_inicio=mis_cursos">
							1er semestre 2009
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2009&amp;acc_inicio=mis_cursos">
							2do semestre 2009
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2009&amp;acc_inicio=mis_cursos">
							TAV 2009
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2010&amp;acc_inicio=mis_cursos">
							1er semestre 2010
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2010&amp;acc_inicio=mis_cursos">
							2do semestre 2010
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2010&amp;acc_inicio=mis_cursos">
							TAV 2010
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2011&amp;acc_inicio=mis_cursos">
							1er semestre 2011
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2011&amp;acc_inicio=mis_cursos">
							2do semestre 2011
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2011&amp;acc_inicio=mis_cursos">
							TAV 2011
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2012&amp;acc_inicio=mis_cursos">
							1er semestre 2012
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2012&amp;acc_inicio=mis_cursos">
							2do semestre 2012
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2012&amp;acc_inicio=mis_cursos">
							TAV 2012
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2013&amp;acc_inicio=mis_cursos">
							1er semestre 2013
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2013&amp;acc_inicio=mis_cursos">
							2do semestre 2013
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2013&amp;acc_inicio=mis_cursos">
							TAV 2013
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2014&amp;acc_inicio=mis_cursos">
							1er semestre 2014
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2014&amp;acc_inicio=mis_cursos">
							2do semestre 2014
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2014&amp;acc_inicio=mis_cursos">
							TAV 2014
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2015&amp;acc_inicio=mis_cursos">
							1er semestre 2015
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2015&amp;acc_inicio=mis_cursos">
							2do semestre 2015
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2015&amp;acc_inicio=mis_cursos">
							TAV 2015
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2016&amp;acc_inicio=mis_cursos">
							1er semestre 2016
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2016&amp;acc_inicio=mis_cursos">
							2do semestre 2016
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2016&amp;acc_inicio=mis_cursos">
							TAV 2016
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2017&amp;acc_inicio=mis_cursos">
							1er semestre 2017
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2017&amp;acc_inicio=mis_cursos">
							2do semestre 2017
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2017&amp;acc_inicio=mis_cursos">
							TAV 2017
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2018&amp;acc_inicio=mis_cursos">
							1er semestre 2018
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2018&amp;acc_inicio=mis_cursos">
							2do semestre 2018
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2018&amp;acc_inicio=mis_cursos">
							TAV 2018
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=21_2019&amp;acc_inicio=mis_cursos" selected="">
							1er semestre 2019
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=22_2019&amp;acc_inicio=mis_cursos">
							2do semestre 2019
						</option>
						<option value="/siding/dirdes/ingcursos/cursos/index.phtml?per_lista_cursos=23_2019&amp;acc_inicio=mis_cursos">
							TAV 2019
						</option>
					</select>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Go
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

	<div style="position: center;background-color: rgba(218, 213, 213, 0.849);">    

		<div style="text-align: center; bottom: 5px;color: rgba(138, 135, 135, 0.849);">
			Joaquín Ossandón | 2019 | Datos obtenidos de SIDING UC | Página no oficial
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='form/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='form/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='form/js/main.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>


